<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <h1>Weather in <%= data.location.name %></h1>
    <p>Temperature: <%= data.current.temp_c %>°C</p>
    <script src="/js/bootstrap.min.js"></script>
    <button class="btn btn-primary">Test Button</button>
</body>
</html>